
body, html {
  margin: 0;
  padding: 0px;
  display: flex;
  justify-content: center; 
  align-items: center; 
  background-color: #f4f4f4;
  text-align: center;
}
.rewards-table,tr,th,td{
  border: 2px solid;
  border-collapse: collapse;
  padding: 5px;
  text-align: center;
}
.cust-select{
  height: 30px;
  margin-bottom: 30px;
}